*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
h1{
    text-align: center;
}
form{
    background-color: blanchedalmond;
    width: 100%;
    height: 94.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-top: 2px solid black;
}
form p{
    position: absolute;
    right:50vh;
    top:10vh;
}
p{
    width: 16vh;
    height: 3vh;
    background-color: black;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p span{
    color: red;
}
.forminput{
    /* background-color: orange; */
    font-size: larger;
    margin: 10px;
    width:50em;
    
}

.forminput input{
    width: 50vh;
    height: 4vh;
    padding: 3px;
    padding-left: 6px;
    font-size: large;
    border: 1.5px solid black;
    border-radius: 5px;
    
}

.mandatory_logo{
    color: red;
}

#country_code {
    width: 45px;
    border-right: 0px;
    background-color: white;
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
}
#numberInput{
    border-left: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 43vh;
}
#numberInput:focus{
    outline: none;
}

.errorMsg{
    /* width: 52px; */
    /* background-color: greenyellow; */
    color: red;
    margin-left: 5px;
}

.btns{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
#submitbtn{
    width: 22vh;
    height: 6vh;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}

#submitbtn:hover{
    background-color: lightgreen;
    color: black;
    font-size:large;
}

